{% include "parts/shell_top.html" %}
{% include "parts/tabbar.html" %}

<div id="tab-content">

  {% include "panels/overview.html" %}
  {% include "panels/easy.html" %}
  {% include "panels/style.html" %}
  {% include "panels/instruments.html" %}
  {% include "panels/vocals.html" %}
  {% include "panels/lyrics.html" %}
  {% include "panels/parameters.html" %}
  {% include "panels/stems.html" %}
  {% include "panels/cover.html" %}
  {% include "panels/radio.html" %}
  {% include "panels/train.html" %}
  {% include "panels/midi.html" %}
  {% include "panels/history.html" %}
  {% include "panels/library.html" %}
  {% include "panels/jam.html" %}
  {% include "panels/guide.html" %}
  {% include "panels/sampler.html" %}
  {% include "panels/analyze.html" %}
  {% include "panels/lint.html" %}
  {% include "panels/video.html" %}
  {% include "panels/about.html" %}
  {% include "panels/groovelab.html" %}
  {% include "panels/arrange.html" %}
  {% include "panels/daw.html" %}

{% include "parts/modals.html" %}
{% include "parts/scripts.html" %}
